[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
geopy = "*"
pipenv = "*"
pymongo = "*"
python-telegram-bot = "*"
pylint = "*"
mypy = "*"

[dev-packages]

[requires]
python_version = "3.11"
